MsFabric/PipelineSourceToBronze.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "SELECT \n    TABLE_SCHEMA,\n    TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_SCHEMA = 'SalesLT'",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "AdventureWorksLT",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "aee0a605-dfad-9de1-49d5-658f83c09524",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "9e4cecd5-278d-4bca-84f4-5c327c186128"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookupTableList",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('LookupTableList').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "FabricSqlDatabaseSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "FabricSqlDatabaseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@item().TABLE_SCHEMA",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@item().TABLE_NAME",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "AdventureWorksLT",
                      "properties": {
                        "type": "FabricSqlDatabase",
                        "typeProperties": {
                          "artifactId": "aee0a605-dfad-9de1-49d5-658f83c09524",
                          "workspaceId": "00000000-0000-0000-0000-000000000000"
                        },
                        "externalReferences": {
                          "connection": "9e4cecd5-278d-4bca-84f4-5c327c186128"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "ParquetSink",
                  "formatSettings": {
                    "type": "ParquetWriteSettings",
                    "enableVertiParquet": false
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "FlattenHierarchy"
                  },
                  "datasetSettings": {
                    "type": "Parquet",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "@{concat( 'bronze/adventureworks/', item().TABLE_NAME, '/', formatDateTime(utcNow(),'yyyy/MM/dd') )}",
                        "fileName": {
                          "value": "@{concat(item().TABLE_NAME,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')}",
                          "type": "Expression"
                        }
                      },
                      "compressionCodec": "snappy"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Lakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "901cf25a-456d-bbae-42fe-66d500879f07",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "CopySourceToBronze",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "LookupTableList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}